<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-brand">
            <h3 class="footer-logo">LOGIX</h3>
            <p class="footer-rights">© 2024 LOGIX. Todos los derechos reservados</p>
        </div>
        
        <div class="footer-links">
            <div class="footer-section">
                <h4>Enlaces</h4>
                <ul>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/basededatos">Actividad</a></li>
                    <li><a href="/carrito">Carrito</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="mailto:info@logix.com">info@logix.com</a></li>
                    <li><a href="tel:+34900000000">+34 900 000 000</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-social">
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>Desarrollado con <i class="fas fa-heart"></i> por ISEN</p>
    </div>
</footer>